<div class="text-center text-muted" *ngIf="!photos.length">
  Sorry, no photo.
</div>

<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters">
    <div *ngFor="let item of cols" class="col-4">
      <a [routerLink]="['/p','detail', item.id]">
        <app-card>
          <app-photo
            [url]='item.url'
            [description]='item.description'
          >
          </app-photo>
          <div class="text-center">
            <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2">{{ item.likes }}</i>
            <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2">{{ item.comments }}</i>
          </div>
        </app-card>
      </a>
    </div>
  </li>
</ol>


