<app-search [value]="filter" (onSearch)="filter = $event"></app-search>

<app-photos [photos]='photos | photoByDescription: filter'></app-photos>

<app-button
        [load]="load"
        (click)="loadMore()"
></app-button>
