<div>
  <h4 class="text-center">Register to embrace a new world!</h4>

  <form #formData="ngForm" [formGroup]="signUpForm" class="form mt-4" (submit)="signUp()">

    <div class="form-group">
      <input type="email"
             placeholder="Email"
             class="form-control"
             formControlName="email" />

      <app-v-message text="Email is required!"
        *ngIf="signUpForm.get('email').errors?.required && (signUpForm.get('email').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Email invalid"
        *ngIf="signUpForm.get('email').errors?.email && (signUpForm.get('email').touched || formData.submitted)">
      </app-v-message>
    </div>

    <div class="form-group">
      <input type="text"
             placeholder="Full name"
             class="form-control"
             formControlName="fullName" />

      <app-v-message text="Full name required"
       *ngIf="signUpForm.get('fullName').errors?.required && (signUpForm.get('fullName').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Invalid min length"
       *ngIf="signUpForm.get('fullName').errors?.minlength && (signUpForm.get('fullName').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Invalid max length"
        *ngIf="signUpForm.get('fullName').errors?.maxlength && (signUpForm.get('fullName').touched || formData.submitted)">
      </app-v-message>
    </div>

    <div class="form-group">
      <input type="text"
             placeholder="User name"
             class="form-control"
             formControlName="userName"/>

      <app-v-message text="User name name required"
        *ngIf="signUpForm.get('userName').errors?.required && (signUpForm.get('userName').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Invalid min length"
        *ngIf="signUpForm.get('userName').errors?.minlength && (signUpForm.get('userName').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Invalid max length"
        *ngIf="signUpForm.get('userName').errors?.maxlength && (signUpForm.get('userName').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Must be lower case!"
        *ngIf="signUpForm.get('userName').errors?.lowercase && (signUpForm.get('userName').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Existing user"
       *ngIf="signUpForm.get('userName').errors?.existingUser && (signUpForm.get('userName').touched || formData.submitted)">
      </app-v-message>

      <small *ngIf="signUpForm.get('userName').valid"
             class="text-success">
             User valid!
      </small>
    </div>

    <div class="form-group">
      <input type='password'
             placeholder="Password"
             class="form-control"
             formControlName="password"/>

      <app-v-message text="Password name required"
        *ngIf="signUpForm.get('password').errors?.required && (signUpForm.get('password').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Invalid min length"
        *ngIf="signUpForm.get('password').errors?.minlength && (signUpForm.get('password').touched || formData.submitted)">
      </app-v-message>
      <app-v-message text="Invalid max length"
        *ngIf="signUpForm.get('password').errors?.maxlength && (signUpForm.get('password').touched || formData.submitted)">
      </app-v-message>

      <app-v-message text="Username and password must be different!"
        *ngIf="signUpForm.errors?.userNamePassword && formData.submitted">
      </app-v-message>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Register</button>

    <div class="text-center">
      <p>Already a user? <a [routerLink]="['']">Sign In!</a></p>
    </div>

  </form>
</div>
