<div class="text-center">
  <div>
    <h4 class="h4">Ops! An error has ocurred!</h4>
    <p class='text-muted'>
      Don't worry, our team is aware of the problem.
      <a [routerLink]="['']">Click to go back</a>
    </p>
  </div>
</div>
