<div class=" flex-column">

  <h1 class="h1 text-center">Login</h1>

  <form [formGroup]="formSigh" class="form mt-4" (submit)="Load($event)">

      <div class="form-group">
        <input id="userNameInput"
                type="text"
                class="form-control"
                placeholder="User name"
                formControlName="userName"
                autofocus />
        <app-v-message text="User name is required!"
                *ngIf="formSigh.get('userName').errors?.required">
        </app-v-message>
      </div>

      <div class="form-group">
        <input type="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"/>

        <app-v-message text="Password is required!"
                        *ngIf="formSigh.get('password').errors?.required">
        </app-v-message>
      </div>

      <button type="submit"
              class="btn btn-primary btn-block"
              [disabled]="formSigh.invalid">
              Login</button>

  </form>

  <p>Not a user? <a [routerLink]="['signup']">Register now</a></p>

</div>
