<div class='bg-white container' *ngIf="(photo$ | async) as photo">
  <div class="row">
    <div class="col-md-6">
      <app-photo [url]="photo.url" [description]="photo.description"></app-photo>
    </div>

    <div class="col-md-6">
      <small>
        <h3 class="text-center break-work h3 font-weight-bold">{{ photo.description }}</h3>
        <div class="text-left mb-4">
          <i class="fa fa-comment-o fa-2x mr-2 ml-2">{{ photo.comments }}</i>
          <i class="fa fa-heart-o fa-2x mr-2 pull-left"
             (click)="like(photo)"
          > {{ photo.likes }}</i>

          <i (click)="remove()"
             class="fa fa-trash-o fa-2x pull-right"
             ownerOnlyPhoto
             [ownedOnly]="photo"
             showIfLogged
             ></i>
        </div>
        <hr>
      </small>

      <app-photoComment
        *ngIf="photo.allowComments; else warnning"
        [PhotoId]="PhotoId"
      ></app-photoComment >

      <ng-template #warnning>
        <p class="text-center text-danger">User has disabled comments this photo!</p>
      </ng-template>

    </div>
  </div>
</div>
