<div class="text-center mt-3 mb-3">
  <form>
    <i aria-hidden="true" class="fa fa-search mr-3"></i>
    <input class="rounded"
           type="search"
           placeholder="Search..."
           autofocus
           (keyup)="debounce.next($event.target.value)"
           [value]="value"
    >
  </form>
</div>
