<div class="container">
  <div class="row">
    <div class="col-md-8">
        <img src="/assets/img/home.png" class="img-fluid d-none d-sm-block mt-5" alt="welcome"/>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
