<div class="fixed-top">
  <div class="nav navbar-light bg-white justify-content-between">
    <div class="navbar-brand h1 ml-2">
      <i tabindex="0" class="fa fa-bars mr-2" (click)="menu.toggle()" (keyup.space)="menu.toggle()"></i>
      POC-A9
    </div>

    <app-menu #menu>
      <ul>
        <li showIfLogged class="p-2">
          <a [routerLink]="['p','add']">Upload</a>
        </li>
      </ul>
    </app-menu>

    <div class="ml-2" *ngIf="(user$ | async) as user; else login">
      <i class="fa fa-user-circle mr-1"></i>
      <a class="mr-2">{{ user.name }}</a>
      <a class="mr-2" (click)="logout()">[ Logout ]</a>
    </div>

    <ng-template #login>
      <span class="navbar-text mr-2">
        <a [routerLink]="['']">Please, login!</a>
      </span>
    </ng-template>
  </div>

  <app-alert></app-alert>
  <app-progress></app-progress>

</div>
