<div *ngIf="(photoComment$ | async) as comments">
  <ul class='list-unstyled comment-list'>
    <li *ngFor="let comment of comments">
      <a class='text-dark font-weight-bold mr-1'
         [routerLink]="['/user', comment.user]">
        {{ comment.userName }}
      </a>
      <em>
        {{ comment.date | date:'dd-MM-yyyy HH:mm'}}
      </em>
      <p class='break-work mb-2'>
        {{ comment.text }}
      </p>
    </li>
  </ul>
  <form [formGroup]="formComment" (submit)="saveComment()" class="form-input">

    <div class="input-group">
      <textarea class="form-control"
                formControlName="comment">
      </textarea>
      <div class='input-group-append'>
        <button class="btn btn-primary pull-left"
                [disabled]="formComment.invalid">Publish</button>
      </div>
    </div>
    <app-v-message *ngIf="formComment.get('comment').errors?.maxlength"
                   text="Maximum size allowed is 150">
    </app-v-message>

  </form>
</div>
