.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  height: 100vh;
  width: 90%;
  max-width: 350px;
  left: -90%;
  transition: left 0.4s ease-in-out;
  z-index: 1;
}
.active-menu .menu {
  left: 0;
}
.active-menu .overlay {
  position: fixed;
  background-color:rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
