<div [ngClass]="{ 'active-menu': isShown }">
  <div class="menu">
    <div class="ml-2">
      <i class="fa fa-window-close" (click)="toggle()" tabindex="0" (keyup.space)="toggle()"></i>
      <ng-content></ng-content>
    </div>
  </div>
  <div class="overlay" (click)="toggle()"></div>
</div>
