<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)="upload()">

    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else showPreview;">
        <button class="btn btn-primary"
        (click)="fileImage.click()"
        type="button"
        >
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>

        <input #fileImage
              instantClick
              hidden
              type="file"
              formControlName="file"
              accept="image/*"
              (change)="previewImage($event.target.files[0])"/>

        <app-v-message text="Image is required"
                      *ngIf="photoForm.get('file').errors?.required"></app-v-message>
      </div>

      <ng-template #showPreview>
        <div class="text-center">
          <app-photo [url]="preview" [description]="showPreview"></app-photo>
        </div>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea class="form-control form-control-sm"
                  placeholder="Photo description"
                  formControlName="description" ></textarea>

        <app-v-message text="Max length is 150"
                       *ngIf="photoForm.get('description').errors?.maxlength"></app-v-message>
      </div>

      <div *ngIf="!progressUpload; else photoInProgress">
        <div class="form-group">
          <label class='text-muted'>Allow comments
            <input type="checkbox" formControlName="allowComments" />
          </label>
        </div>

        <button  type="submit" [disabled]="photoForm.invalid" class="btn btn-primary btn-block">Upload</button>
        <a [routerLink]="['']" class="btn btn-secondary btn-block">Cancel</a>
      </div>
      <ng-template #photoInProgress>
        <div class="text-center display-4">
          Progress {{ progressUpload }}/%
        </div>
      </ng-template>

    </div>
  </form>
</div>
