<div class="text-center" *ngIf="load; else loadMore">
    <button class="btn btn-primary">Load more</button>
</div>

<ng-template #loadMore>
  <p class="text-center text-muted">No more photo to load</p>
</ng-template>
